
  <div data-id="{{recipe.id}}">
    <ul>
      <li><h4>This is your recipe for {{recipe.name}}</h4></li>
      <li class="desc">Description: {{recipe.description}}</li>
      <li class="desc">Servings: {{recipe.servings}}</li>
      <li class="desc">Recipe ID: {{recipe.id}}</li>
  </ul>
   </div>
