{{#each recipes as |recipe|}}

  <div data-id="{{recipe.id}}" class="recipe-post">
    <ul>
      <li><h4>How to make {{recipe.name}}</h4></li>
      <li class="desc">Description: {{recipe.description}}</li>
      <li class="desc">Servings: {{recipe.servings}}</li>
      <li class="desc">Recipe ID: {{recipe.id}}</li>
  </ul>
  <form class="update" id="{{recipe.id}}" data-id="{{recipe.id}}">

    <div class="container-fluid">
      <br>
       <input class="form-control" type="text" name="recipe[name]" placeholder="recipe name">
       <div class="form-group">
      <p>update description</p>
     <textarea class="form-control" name="recipe[description]" rows="7"></textarea>
    </div>
    <div class="form-group">
      <input class="form-control" name="recipe[servings]" type="text" value="" placeholder="update serving size">
    </div>
    <input type="submit" class="btn btn-default" name="submit" value="update">
    <div class="container-fluid destroy">
       <button data-id="{{recipe.id}}" class="btn btn-default" value="delete">delete</button>
     </div>
    </form>
   </div>
 </div>

<br>

   <!-- <div class="container-fluid destroy">
      <button data-id="{{recipe.id}}" class="btn btn-default" value="delete">delete</button>
    </div> -->
</div>
</div>
{{/each}}
