
  <div data-id="{{recipe.id}}">
    <ul style="list-style-type: none;">
      <li><h4>This is your recipe for <strong>{{recipe.name}}</strong></h4></li>
      <li class="desc"><p><strong>Description:</strong> {{recipe.description}}</p></li>
      <li class="desc"><p><strong>Servings:</strong> {{recipe.servings}}</p></li>
      <li class="desc"><p><strong>Recipe ID:</strong> {{recipe.id}}</p></li>
  </ul>
   </div>
